---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Link from "@components/ui/link.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Team">
  <Container>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>
            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
              <h2 class="text-sm text-slate-500 mt-2 mb-2">
                {teamMemberEntry.data.summary}
              </h2>
              <Link
                aria-label="\{teamMemberEntry.data.avatar.alt\}_linkedin"
                href={teamMemberEntry.data.linkedin}
                target="_blank"
                class="flex gap-1 items-center justify-center"
                rel="noopener"
              >
                <Icon class="text-white w-5 h-5 md" name="bx:bxl-linkedin" />
              </Link>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
